<div class="main-view clients-page">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-7">
          <h2 class="no-gapped"><span class="material-icons">contacts</span> Giacomo Guilizzoni</h2>
        </div>
        <div class="col-xs-5 text-right">
          <div class="input-group">
            <span class="input-group-btn">
              <a href="#!clients" class="btn btn-default" type="button"><span class="glyphicon glyphicon-chevron-left"></span> Back to Clients</a>
            </span>
          </div><!-- /input-group -->
        </div>
      </div>




    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="no-gapped">No. of times app used</h3>
            </div>
            <div class="panel-body">
              <div class="col-xs-12">
                <select class="form-control">
                  <option>Last Week</option>
                  <option>Last two Week</option>
                  <option>Last month</option>
                </select>
              </div>
              <div class="col-xs-12 pad-top">
                <svg width="100%" height="100%" viewBox="-100 -100 200 200">
                  <path fill="#f39200" d="M0,0 L100,0 A100,100 0 1,1 -95.9,-28.2 Z" />
                  <path fill="#0e71b8" d="M0,0 L-95.9,-28.2 A100,100 0 0,1 65.5,-75.6 Z" />
                  <path fill="#3aaa35" d="M0,0 L65.5,-75.6 A100,100 0 0,1 95.9,-28.2 Z" />
                  <path fill="#be1522" d="M0,0 L95.9,-28.2 A100,100 0 0,1 100,0 Z" />
                </svg>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="no-gapped">Mindfulness Report</h3>
            </div>
            <div class="panel-body">
              <div class="col-xs-12">
                <select class="form-control">
                  <option>Last Week</option>
                  <option>Last two Week</option>
                  <option>Last month</option>
                </select>
              </div>
              <div class="col-xs-12 pad-top">
                <svg width="100%" height="100%" viewBox="-100 -100 200 200">
                  <path fill="#f39200" d="M0,0 L100,0 A100,100 0 1,1 -95.9,-28.2 Z" />
                  <path fill="#0e71b8" d="M0,0 L-95.9,-28.2 A100,100 0 0,1 65.5,-75.6 Z" />
                  <path fill="#3aaa35" d="M0,0 L65.5,-75.6 A100,100 0 0,1 95.9,-28.2 Z" />
                  <path fill="#be1522" d="M0,0 L95.9,-28.2 A100,100 0 0,1 100,0 Z" />
                </svg>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="no-gapped">Reminders</h2>

            </div>
            <div class="panel-body">
              <div class="dFlex pad-bottom">
                <select class="form-control">
                  <option>Missed</option>
                  <option>Done</option>
                  <option>Last month</option>
                </select>
                <select class="form-control">
                  <option>Last Week</option>
                  <option>Last two Week</option>
                  <option>Custom</option>
                </select>
              </div>
              <div class="list-group row">
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Reminder <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Reminder <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Reminder <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
              </div>
            </div>
            <div class="panel-footer no-padded">
              <a href="#" class="btn btn-block btn-lg">View All</a>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="no-gapped">Exercise</h2>

            </div>
            <div class="panel-body">
              <div class="dFlex pad-bottom">
                <select class="form-control">
                  <option>Missed</option>
                  <option>Done</option>
                  <option>Last month</option>
                </select>
                <select class="form-control">
                  <option>Last Week</option>
                  <option>Last two Week</option>
                  <option>Custom</option>
                </select>
              </div>
              <div class="list-group row">
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Reminder <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Reminder <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Reminder <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
              </div>
            </div>
            <div class="panel-footer no-padded">
              <a href="#" class="btn btn-block btn-lg">View All</a>
            </div>
          </div>

        </div>
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="no-gapped">Comments</h2>

            </div>
            <div class="panel-body">
              <div class="dFlex pad-bottom">
                <select class="form-control">
                  <option>Missed</option>
                  <option>Done</option>
                  <option>Last month</option>
                </select>
                <select class="form-control">
                  <option>Last Week</option>
                  <option>Last two Week</option>
                  <option>Custom</option>
                </select>
              </div>
              <div class="list-group row">
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Reminder <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Reminder <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Reminder <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
              </div>
            </div>
            <div class="panel-footer no-padded">
              <a href="#" class="btn btn-block btn-lg">View All</a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
