<div class="main-view dashboard-page">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-7 col-md-8">
          <h2 class="no-gapped"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</h2>
        </div>
        <div class="col-xs-5 col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="//">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
            </span>
          </div><!-- /input-group -->
        </div>
      </div>

    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="no-gapped">Exercises <a class="link pull-right" role="button"><span class="glyphicon glyphicon-pencil"></span></a></h2>

            </div>
            <div class="panel-body">
              <div class="list-group row">
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Hip Flexor Stretch<small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">Many people with hip FAI experience tightness in a muscle group called the iliopsoas. These muscles located in the front of your hips help to bend your hip up, and tightness here may be one cause of the pinching feeling you get in the front of your hip when sitting or bending your hip with FAI.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Piriformis Stretch<small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">Your piriformis muscle is located deep in your hip underneath your gluteus muscles. It serves to rotate and stabilize your hip, and it may feel tight if you have hip impingement or FAI. Your physical therapist may have you stretch your piriformis muscle as part of your FAI rehab.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Exercise 3 <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
              </div>
            </div>
            <div class="panel-footer no-padded">
              <a href="#" class="btn btn-block btn-lg">View All</a>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="no-gapped">Clients Metrics</h2>
            </div>
            <div class="panel-body">
              <img src="../images/bar-graph.jpg" />
            </div>
            <div class="panel-footer no-padded">
              <a href="#" class="btn btn-block btn-lg">View All</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="no-gapped">Quotes</h2>
            </div>
            <div class="panel-body">
              <div class="list-group row">
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Exercise 1 <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Exercise 2 <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Exercise 3 <small class="pull-right">22/04/2017</small></h4>
                  <p class="list-group-item-text">HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
                </a>
              </div>
            </div>
            <div class="panel-footer no-padded">
              <a href="#" class="btn btn-block btn-lg">View All</a>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="no-gapped">Summery</h2>
            </div>
            <div class="panel-body">
              <h4><b>List group item heading</b></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <h4><b>List group item heading</b></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="panel-footer no-padded">
              <a href="#" class="btn btn-block btn-lg">View All</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<div class="jumbotron">
    <h1>Dashboard</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>

  <div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>-->
</div>


