<div class="main-view notifications-page">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="no-gapped"><span class="material-icons">supervisor_account</span> Notifications</h2>


    </div>
    <div class="panel-body">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorum ipsum dolor sit amit de Lorum ipsum dolor sit amit de Lorum ipsum dolor sit amit de.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorum ipsum dolor sit amit de Lorum ipsum dolor sit amit de Lorum ipsum dolor sit amit de.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorum ipsum dolor sit amit de Lorum ipsum dolor sit amit de Lorum ipsum dolor sit amit de.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorum ipsum dolor sit amit de Lorum ipsum dolor sit amit de Lorum ipsum dolor sit amit de.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorum ipsum dolor sit amit de Lorum ipsum dolor sit amit de Lorum ipsum dolor sit amit de.</p>
        </a>
      </div>

    </div>
  </div>
</div>
