<div class="main-view profile-page">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <h2 class="no-gapped"><span class="material-icons">account_circle</span> Profile</h2>
        </div>
        <div class="col-xs-6">
          <div class="btn-group pull-right" role="group" aria-label="...">
            <a href="#!profile" type="button" class="btn btn-danger">Profile Settings</a>
            <a href="#!account-settings" type="button" class="btn btn-default">Account Settings</a>
          </div>
        </div>
      </div>


    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-3">
          <img src="images/profile_image.jpg" alt="..." class="img-thumbnail">
          <div class="input-group half-gap-top">
            <input type="file" class="form-control half-gap-top" />
          </div>
        </div>
        <div class="col-xs-9 no-pad-left">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="no-gap-top">Kayle McMan <a href="#" class="link glyphicon glyphicon-pencil"></a></h2>
            </div>
            <div class="col-xs-12 no-padded">
              <div class="col-xs-2 no-pad-right text-right">
                <p class="text-muted">Occupation:</p>
              </div>
              <div class="col-xs-10">
                <h4 class="no-gapped">Therapist</h4>
              </div>
            </div>

            <div class="col-xs-12 no-padded">
              <div class="col-xs-2 no-pad-right text-right">
                <p class="text-muted">Company:</p>
              </div>
              <div class="col-xs-10">
                <h4 class="no-gapped red bold">Change Place</h4>
              </div>
            </div>
            <div class="col-xs-12 no-padded">
              <div class="col-xs-2 no-pad-right text-right">
                <p class="text-muted">Website:</p>
              </div>
              <div class="col-xs-10">
                <h4 class="no-gapped red">www.changeplace.com</h4>
              </div>
            </div>
            <div class="col-xs-12 no-padded">
              <div class="col-xs-2 no-pad-right text-right">
                <p class="text-muted">About:</p>
              </div>
              <div class="col-xs-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
              <div class="col-xs-3">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="//">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
                </span>
                </div><!-- /input-group -->
              </div>
            </div>





          </div>

          <p></p>
        </div>
        <div class="col-xs-12 no-padded">
          <div class="col-xs-2 no-pad-right text-right">
            <p class="text-muted">Description:</p>
          </div>
          <div class="col-xs-10">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--<div class="jumbotron">
  <h1>Profile</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->

