<div class="main-view upload-exercise-page">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="no-gapped"><span class="glyphicon glyphicon-cog"></span> Upload Exercise</h2>


    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inviteEmail" class="col-sm-3 control-label">Upload Exercise</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input id="inviteEmail" class="form-control" type="text" name="" placeholder="File Name..." />
              <div class="input-group-btn">
                <button type="button" role="button" class="btn btn-default gap-left"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; Browse</button>
                <button type="button" role="button" class="btn btn-danger gap-left"><span class="glyphicon glyphicon-open"></span>&nbsp; Upload Exercise</button>
                <button type="button" class="btn btn-default gap-left" data-toggle="tooltip" data-placement="bottom" title="You can upload files in '.pdf' and '.mp3' formats only"><span class="glyphicon glyphicon-exclamation-sign"></span></button>

                <!--<button type="button" role="button" class="btn btn-danger gap-left"><span class="glyphicon glyphicon-exclamation-sign"></span></button>-->
              </div>
            </div>

          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-8">
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
  });
</script>




<!--<div class="jumbotron">
  <h1>Profile</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->

